body{
    background-color: rgb(34, 42, 47);
}

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

nav
{
    background:rgb(255, 0, 0);
    height: 70px;
}

label.nav
{
    color: #fff;
    font-size: 2.3em;
    line-height: 70px;
    padding: 0 100px;
    font-weight: 800px;
}

.menu
{
    position: absolute;
    left: 50%;
    top: 15pc;
    transform: translate(-50%, -50%);
}


.menuc
{
    position: absolute;
    left: 50%;
    top: 150%;
    transform: translate(-50%, -50%);
}

#input_text
{
    width: 800px;
    height: 50px;
    border-radius: 50px;
}

#cevirme
{
    font-size: 15px;
    width: 70px;
    height: 50px;
    border-radius: 50px;
}

#button
{
    background-color: red;
    font-size: 17px;
    width: 100px;
    height: 50px;
    border-radius: 50px;
}

.yt_cnvrt
{
    font-size: 70px;
    text-align: center;
    margin-bottom: 30px;
}

.kart
{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.yt_cnvrt
{
    font-size: 70px;
    text-align: center;
    margin-bottom: 30px;
}

.line
{
    margin-left: 17%;
    margin-right: 5%;
    width: 700px;
}

.line_text
{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5pc;
    margin-left: 20%;
    margin-right: 20%;
    width: 700px;
}

.download_btn
{
    background-color: red;
    width: 100px;
    height: 45px;
    position: relative;
    left: 10px;
    top: 17px;
    border-radius: 35px;
}

.download_btnmp3
{
    background-color: red;
    width: 150px;
    height: 65px;
    margin-left: 45%;
    margin-right: 50%;
    border-radius: 35px;
}
